
.container-locandine{
    max-width: 800px ;
    height: 350px;
}

.container-blue{
    height: 60px;
    background-color: #0282f9;
}
.img-locandina-01{
    position: absolute;
    left: 150;
    top: 380px;
    width: 150px;
    height: 200px;
}
.container-advertisement{
    max-width: 300px;
    
}